# LESSON 5 - REVIEW EXERCISES

# Pg 17 - TUPLE

In [1]:
# NO.1
Cardinal_Numbers = ("FIRST", "SECOND","THIRD")
print(Cardinal_Numbers)

('FIRST', 'SECOND', 'THIRD')

In [4]:
# NO.2
print(Cardinal_Numbers[1])

SECOND

In [5]:
# NO.3
position1, position2, position3 = Cardinal_Numbers
print(position1)
print(position2)
print(position3)

FIRST
SECOND
THIRD

In [9]:
My_name = tuple("Lance")
print(My_name)

('L', 'a', 'n', 'c', 'e', ' ', 'T', 'i', 'm', 'o', 't', 'h', 'y', ' ', 'S', 'a', 't', 'o', 'r', 'r', 'e')

In [10]:
print("x" in My_name)

False

In [14]:
First_Letter_in_My_Name = tuple(My_name[1::])
print(First_Letter_in_My_Name)

('a', 'n', 'c', 'e', ' ', 'T', 'i', 'm', 'o', 't', 'h', 'y', ' ', 'S', 'a', 't', 'o', 'r', 'r', 'e')

# Pg 36 - LIST

In [15]:
Food = ["RICE","BEANS"]

['RICE', 'BEANS']

In [16]:
Food.append("BROCOLLI")

['RICE', 'BEANS', 'BROCOLLI']

In [19]:
Food.extend(["BREAD", "PIZZA"])

['RICE', 'BEANS', 'BROCOLLI', 'BREAD', 'PIZZA']

In [20]:
print(Food[0:2])

['RICE', 'BEANS']

In [22]:
print(Food[len(Food)-1])

PIZZA

In [31]:
string_food = "EGGS, FRUIT, ORANGE JUICE"
Breakfas = string_food.split(", ")
print(Breakfast)

['EGGS', 'FRUIT', 'ORANGE JUICE']

In [27]:
print(len(Breakfast))

3

In [30]:
Lengths = [len(value) for value in Breakfast]
print(Lengths)

[4, 5, 12]

# Pg 41

In [5]:
data = ((1,2),(3,4))

(1, 2)

In [20]:
for n in range(len(data)):
    sum=0
    for value in data[n]:
        sum += value
    print(f"Row = {n+1} sum = {sum}")

Row = 1 sum = 3
Row = 2 sum = 7

In [25]:
num_list = [2,3,4,9,1,7]
numbers = num_list[:]
print(numbers)

[2, 3, 4, 9, 1, 7]

In [26]:
num_list.sort()
print(num_list)

[1, 2, 3, 4, 7, 9]

In [27]:
universities = [
                ['California Institute of Technology', 2175, 37704],
                ['Harvard', 19627, 39849],
                ['Massachusetts Institute of Technology', 10566, 40732],
                ['Princeton', 7802, 37000],
                ['Rice', 5879, 35551],
                ['Stanford', 19535, 40569],
                ['Yale', 11701, 40500]
]

print(universities)

[['California Institute of Technology', 2175, 37704], ['Harvard', 19627, 39849], ['Massachusetts Institute of Technology', 10566, 40732], ['Princeton', 7802, 37000], ['Rice', 5879, 35551], ['Stanford', 19535, 40569], ['Yale', 11701, 40500]]

In [28]:
NOUNS = ["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF", "MANGO","EXTROVERT", "GORILLA"]
VERBS = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", "EXPLODES", "CURDLES"]
ADJECTIVES = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", "EXUBERANT", "GLISTENING"]
PREPOSITIONS = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", "FOR", "IN", "LIKE", "OVER", "WITHIN"]
ADVERBS = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY" "EXTRAVAGANTLY", "TANTALIZINLY"]

print(NOUNS)
print(VERBS)
print(ADJECTIVES)
print(PREPOSITIONS)
print(ADVERBS)

['FOSSIL', 'HORSE', 'AARDVARK', 'JUDGE', 'CHEF', 'MANGO', 'EXTROVERT', 'GORILLA']
['KICKS', 'JINGLES', 'BOUNCES', 'SLURPS', 'MEOWS', 'EXPLODES', 'CURDLES']
['FURRY', 'BALDING', 'INCREDULOUS', 'FRAGRANT', 'EXUBERANT', 'GLISTENING']
['AGAINST', 'AFTER', 'INTO', 'BENEATH', 'UPON', 'FOR', 'IN', 'LIKE', 'OVER', 'WITHIN']
['CURIOUSLY', 'FURIOUSLY', 'SENSUOUSLYEXTRAVAGANTLY', 'TANTALIZINLY']

# Pg 57 - DICTIONARY

In [23]:
captains = {}

In [27]:
captains = {}
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisco"

for n in captains:
        print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisco'

In [29]:
if not ("Enterprise" in captains): captains["Eterprise"] = "Unknown"
if not ("Discovery" in captains): captains["Discovery"] = "Unknwon"

for n in captains:
        print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisco'
'Discovery' : 'Unknwon'

In [30]:
for n in captains:
        print(f"The {n} is captained by {captains[n]}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisco.
The Discovery is captained by Unknwon.

# Pg. 58

In [31]:
del captains["Discovery"]
for n in captains: print(f"'{n}' : '{captains[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisco'

In [35]:
key_pairs = (("Enterprise", "Picard"),
             ("Voyager", "Janeway"),
             ("Defiant", "Sisco")
            )
captains_new = dict(key_pairs)
for n in captains_new: print(f"'{n}' : '{captains_new[n]}'")

'Enterprise' : 'Picard'
'Voyager' : 'Janeway'
'Defiant' : 'Sisco'

In [37]:
capitals_dict={
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
     'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee'
    'Georgia': 'Atlanta',
}

for n in capitals_dict: print(f"'{n}' : '{capitals_dict[n]}'")

SyntaxError: unterminated string literal (detected at line 5) (938935504.py, line 5)